* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.leftcon {
  padding-left: 20%;
  padding-right: 20%;
}

#editInput {
  font-size: 20px;
  min-width: 50px;
}

#editInput.completed >input{
  color: rgb(66, 66, 66);
  /* text-decoration: line-through;
  text-decoration-color: rgb(50, 50, 50); */
}

@media(min-width: 768px){
.news-input{
  width: 40%;
}
}